
html {
	font-family: “Helvetica”, Arial, Helvetica, sans-serif;
}

h2, h3 {
	color: #222222;
}

h1 {
	margin: 0.5em 0em 0.5em 0.5em;
	display: inline-block;

	color: #ffffff;
	background: #222222;
	padding: 0.5em;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	font-size: 2.5em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

a#begin:link, a#begin:visited {
	color: #ffffff;
	text-decoration: none;

	background: #222222;
	padding: 7px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a#begin:hover {
	background: #000000;

    box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
}

p#info {
	text-indent: 1.5em;
	text-align: justify;
}

div#content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 0% 2% 0.7% 2%;
}

.flash {
	color: #440044;
}
